[submodule "modules/phantomstyle"]
	path = modules/phantomstyle
	url = https://github.com/randrew/phantomstyle.git
[submodule "modules/sol2"]
	path = modules/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "modules/easyloggingpp"]
	path = modules/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
